style,

html {
  font-family: "Agency FB", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1vw;
}


body {
    background-image: url("https://wallpaperaccess.com/full/5687496.gif") ;
    margin:0;

}
.Container{
    width: 80vw;
    margin: auto;
    background-image: linear-gradient(-45deg, #f66834 0%, pink 25%, turquoise 51%, #ff357f 100%);
    opacity: 0.8;
}

header {
    display:flex;
    background-image:url("https://wallpaperaccess.com/full/1781502.jpg");
    padding: 0;
}
h1 {
    width: 50%;
    text-align: left;
    display: block;
    line-height: 3rem;
    padding:1rem;


}
nav {
    width: 50%;
    padding:1rem;
}

li a.first {
    background-color: coral;
    text-decoration: none;
    display: block;
    width: 12rem;
    line-height: 3rem;
    text-align: center;
    border: 3px black solid;
    border-right: 2px black solid;
    border-left: 2px black solid;
    color:black;
    font-size: 2rem;

}
li a.third {
    background-color: coral;
    text-decoration: none;
    display: block;
    width: 12rem;
    line-height: 3rem;
    text-align: center;
    border: 3px black solid;
    border-right: 2px black solid;
    border-left: 2px black solid;
    color:black;
    font-size: 2rem;

}
li a.second {
    background-color: coral;
    text-decoration: none;
    display: block;
    width: 12rem;
    line-height: 3rem;
    text-align: center;
    border: 3px black solid;
    border-right: 0 black solid;
    border-left: 0 black solid;
    color:black;
    font-size: 2rem;
}
li a:hover {
    background-color: orangered;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

main {
    padding: 1rem;
    font-size: 1.5rem;
}

figure {
    width: 60%;
    border: 3px black solid;
    margin:auto;

}
figcaption {
    padding:1rem;
}
.first1 {
    font-size: 2rem;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding:1rem;
}
footer{
    background-image:url("https://wallpaperaccess.com/full/1781502.jpg");
    padding:3rem;
}


style>



