style,

html {
  font-family: "Agency FB", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1vw;
}


body {
    background-image: url("https://wallpaperaccess.com/full/869.jpg") ;
    opacity: 1;
    margin:0;

}
.Container{
    width: 80vw;
    margin: auto;
    background-image: linear-gradient(-45deg, #f66834 0%, pink 25%, turquoise 51%, #ff357f 100%);
    opacity: 0.85;
}

header {
    display:flex;
    background-image:url("https://wallpaperaccess.com/full/1781502.jpg");
    padding: 0;

}
h1 {
    width: 50%;
    text-align: left;
    display: block;
    padding-left: 1rem;
    padding-top: 1rem;

}
nav {
    width: 50%;
    padding:1rem;
    align-content: center;
}
li a.first {
    background-color: coral;
    text-decoration: none;
    display: block;
    width: 12rem;
    line-height: 3rem;
    text-align: center;
    border: 3px black solid;
    border-right: 2px black solid;
    border-left: 2px black solid;
    color:black;
    font-size: 2rem;

}
li a.third {
    background-color: coral;
    text-decoration: none;
    display: block;
    width: 12rem;
    line-height: 3rem;
    text-align: center;
    border: 3px black solid;
    border-right: 2px black solid;
    border-left: 2px black solid;
    color:black;
    font-size: 2rem;

}
li a.second {
    background-color: coral;
    text-decoration: none;
    display: block;
    width: 12rem;
    line-height: 3rem;
    text-align: center;
    border: 3px black solid;
    border-right: 0 black solid;
    border-left: 0 black solid;
    color:black;
    font-size: 2rem;
}
li a:hover {
    background-color: hotpink;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

main {
    padding: 1rem;
}
section {
    width: 100%;
    display: inline-flex;
    margin: auto;
    padding:6rem 0 6rem 0;
    justify-content: space-evenly;


}
article {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image:url("https://wallpaperaccess.com/full/1781502.jpg");
    border: 2px black solid;
    opacity: 2;


}
article p {
    width: 100%;
    margin:auto;
    text-align: center;
    padding: 1rem 0 0 0;
    font-size: 160%;

}
.name {
    font-size: 2rem;
}
h2 {
    width: 100%;
    margin:auto;
    text-align: center;
    font-size: 2rem;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    border: 2px solid black;
    justify-content: center;
}
figure img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 2px solid black;
}
figcaption {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}
article p {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
footer{
    background-image:url("https://wallpaperaccess.com/full/1781502.jpg");
    padding:3rem;
}


style>
