style,

html {
  font-family: "Agency FB", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1vw;
}


body {
    background-image: linear-gradient(-45deg, orangered 0%, pink 25%, turquoise 51%, #ff357f 100%);
    opacity: 1;
    margin:0;

}
.Container{
    width: 80vw;
    margin: auto;
    background-color: burlywood;
}

header {
    display:flex;
    background-color: rgba(241, 169, 79, 0.85);
    padding: 0;
}
h1 {
    width: 50%;
    text-align: left;
    display: block;
    line-height: 3rem;
    padding:1rem;


}
nav {
    width: 50%;
    padding:1rem;
}

li a.first {
    background-color: coral;
    text-decoration: none;
    display: block;
    width: 12rem;
    line-height: 3rem;
    text-align: center;
    border: 3px black solid;
    border-right: 2px black solid;
    border-left: 2px black solid;
    color:black;
    font-size: 2rem;

}
li a.third {
    background-color: coral;
    text-decoration: none;
    display: block;
    width: 12rem;
    line-height: 3rem;
    text-align: center;
    border: 3px black solid;
    border-right: 2px black solid;
    border-left: 2px black solid;
    color:black;
    font-size: 2rem;

}
li a.second {
    background-color: coral;
    text-decoration: none;
    display: block;
    width: 12rem;
    line-height: 3rem;
    text-align: center;
    border: 3px black solid;
    border-right: 0 black solid;
    border-left: 0 black solid;
    color:black;
    font-size: 2rem;
}
li a:hover {
    background-color: hotpink;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

main {
    padding: 1rem;
}

figure {
    width: 60%;
    border: 3px black solid;
    margin:auto;

}
figcaption {
    padding:1rem;
}

footer{
    background-color: chocolate;
    padding:3rem;
}


style>
